@font-face {
    font-family: 'Eurostar';
    src: url('fonts/EurostarRegular.ttf') format('ttf'),
         url('fonts/EurostarRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aldrich Bold';
    src: url('fonts/centurygothic_bold.ttf') format('ttf'),
         url('fonts/centurygothic_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permite que o texto desça se não houver espaço */
    gap: 10px; /* Espaçamento entre texto e imagem */
}